@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ece2ba;
  background-color: #425b2a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-greenTea: #78a043;
}

a {
  font-weight: 500;
  color: #9e9d87;
  text-decoration: inherit;
}
a:hover {
  color: #9e9d87;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #cad98b;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #9e9d87;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #64794d;
  }
  a:hover {
    color: #9e9d87;
  }
  button {
    background-color: #64794d;
  }
}
